/**
 * ----------------------------------------------------------------------------
 * CONTAINER STYLES
 *-----------------------------------------------------------------------------
 */
 .container {
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  gap: theme('spacing.1');
  padding: 0 theme('spacing.2');
  min-height: theme('spacing.8');
  border-radius: var(--wds-radii);
  box-shadow: var(--wds-shadow);
}

.container [data-component="leadingIcon"] {
  grid-area: leadingIcon;
}

.container [data-component="trailingIcon"] {
  grid-area: trailingIcon;
}

.container [data-component="text"] {
  grid-area: text;
}

.container:disabled {
  cursor: not-allowed;
}

/* // we don't use :focus-visible because not all browsers (safari) have it yet */
.container:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--wds-color-border-focus);
}

.container:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.container:active {
  transform: translateY(1px);
}

.container:hover {
  text-decoration: none;
}

/**
 * ----------------------------------------------------------------------------
 * VARIANT STYLES
 *-----------------------------------------------------------------------------
 */

 /* filled variant */
.filled {
  background-color: var(--wds-color-bg-button);
  color: var(--wds-color-text-onbutton);
  border-color: var(--wds-color-border-button);
}

.filled:hover {
  color: var(--wds-color-text-onbutton);
  background: var(--wds-color-bg-button-hover);
}

.filled:disabled:hover {
  background-color: var(--wds-color-bg-button);
}

/* outline variant */
.outline {
  border-width: 1px;
  background-color: transparent;
  color: var(--wds-color-text-button);
  border-color: var(--wds-color-border-button);
}

.outline:hover {
  color: var(--wds-color-text-button);
  background-color: var(--wds-color-bg-button-hover-light);
  border-color: var(--wds-color-border-button);
}

.outline:hover:disabled {
  background-color: transparent;
}

/* subtle variant */
.subtle {
  border-width: 1px;
  background-color: transparent;
  border-color: transparent;
  color: var(--wds-color-text-button);
}

.subtle:hover {
  color: var(--wds-color-text-button);
  background-color: var(--wds-color-bg-button-hover-light);
}

.subtle.disabled:hover {
  background-color: var(--wds-color-bg-button-light);
}

.subtle:disabled:hover {
  background-color: transparent;
  background-color: var(--wds-color-bg-hover);
}

/* linked variant */
.link {
  border-width: 1px;
  border-color: transparent;
  color: var(--wds-color-text-button);
  box-shadow: none;
}

.link:hover {
  color: var(--wds-color-text-button);
  text-decoration: underline;
}


/* light variant */
.light {
  background: var(--wds-color-bg-button-light);
  border-color: transparent;
  color: var(--wds-color-text-button);
}

.light:hover {
  color: var(--wds-color-text-button);
  background: var(--wds-color-bg-button-hover-light);
}

.light:disabled:hover {
  background: var(--wds-color-bg-light);
  background: var(--wds-color-bg-hover);
}

.loading {
  cursor: not-allowed;
  opacity: 0.8;
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.container[data-disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

 .disabled {
  pointer-events: none;
  background: var(--wds-color-bg-disabled);
  color: var(--wds-color-text-disabled);
  border: 1px solid var(--wds-color-border-disabled);
 }
