/**
 * ----------------------------------------------------------------------------
 * BASE STYLES
 *-----------------------------------------------------------------------------
 */
 .base {
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  gap: theme('spacing.1');
  padding: 0 theme('spacing.2');
  min-height: theme('spacing.8');
  border-radius: var(--wds-radii);
  box-shadow: var(--wds-shadow);
}

.base:disabled {
  cursor: not-allowed;
}

.base:focus:not([data-focus-visible-added]) {
  outline: none;
}

/* // we don't use :focus-visible because not all browsers (safari) have it yet */
.base[data-focus-visible-added] {
  border-color: var(--wds-color-border-focus);
  outline: none;
  box-shadow: inset 0 0 0 1px var(--wds-color-border-focus);
}

/**
 * ----------------------------------------------------------------------------
 * VARIANT STYLES
 *-----------------------------------------------------------------------------
 */

 /* filled variant */
.filled {
  background: var(--wds-color-bg-button);
  color: var(--wds-color-text-onbutton);
  border-color: var(--wds-color-border-button);
}

.filled:hover {
  background: var(--wds-color-bg-button-hover);
}

.filled:disabled:hover {
  background: var(--wds-color-bg-button);
}

/* outline variant */
.outline {
  border-width: 1px;
  background: transparent;
  color: var(--wds-color-text-button);
  border-color: var(--wds-color-border-button);
}

.outline:hover {
  background: var(--wds-color-bg-button-hover-light);
  border-color: var(--wds-color-border-button);
}

.outline:hover:disabled {
  background: transparent;
}

/* subtle variant */
.subtle {
  border-width: 1px;
  background: transparent;
  border-color: transparent;
  color: var(--wds-color-text-button);
}

.subtle:hover {
  background: var(--wds-color-bg-button-hover-light);
}

.subtle.disabled:hover {
  background: var(--wds-color-bg-button-light);
}

.subtle:disabled:hover {
  background: transparent;
  background: var(--wds-color-bg-hover);
}

/* linked variant */
.link {
  border-width: 1px;
  border-color: transparent;
  color: var(--wds-color-text-button);
  box-shadow: none;
}

.link:hover {
  text-decoration: underline;
}


/* light variant */
.light {
  background: var(--wds-color-bg-button-light);
  border-color: transparent;
  color: var(--wds-color-text-button);
}

.light:hover {
  background: var(--wds-color-bg-button-hover-light);
}

.light:disabled:hover {
  background: var(--wds-color-bg-light);
  background: var(--wds-color-bg-hover);
}

.loading {
  cursor: not-allowed;
  opacity: 0.8;
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */

 .disabled {
  cursor: not-allowed;
  background: var(--wds-color-bg-disabled);
  color: var(--wds-color-text-disabled);
  border: 1px solid var(--wds-color-border-disabled);
 }
