/**
 * ----------------------------------------------------------------------------
 * BASE STYLES
 *-----------------------------------------------------------------------------
 */
 .base {
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  gap: theme('spacing.1');
  padding: 0 theme('spacing.2');
  min-height: theme('spacing.8');
  border-radius: var(--wds-radii);
  box-shadow: var(--wds-shadow);
}

.base:disabled {
  cursor: not-allowed;
}

.base:focus:not([data-focus-visible-added]) {
  outline: none;
}

/* // we don't use :focus-visible because not all browsers (safari) have it yet */
.base[data-focus-visible-added] {
  border-color: var(--wds-color-border-focus);
  outline: none;
  box-shadow: inset 0 0 0 1px var(--wds-color-border-focus);
}

/**
 * ----------------------------------------------------------------------------
 * VARIANT STYLES
 *-----------------------------------------------------------------------------
 */
.solid {
  background: var(--wds-btn-color-bg-accent);
  color: var(--wds-btn-color-text-onaccent);
  border-color: var(--wds-btn-color-border-accent);
}

.solid:hover {
  background: var(--wds-btn-color-bg-accent-hover);
}

.solid:disabled:hover {
  background: var(--wds-btn-color-bg-accent);
}

.outline {
  border-width: 1px;
  background: transparent;
  color: var(--wds-btn-color-text-accent);
  border-color: var(--wds-color-border);
}

.outline:hover {
  background: var(--wds-color-bg-hover);
}

.outline:hover:disabled {
  background: transparent;
}

.ghost {
  border-width: 1px;
  background: transparent;
  border-color: transparent;
  color: var(--wds-btn-color-text-accent);
}

.ghost:hover {
  background: var(--wds-color-bg-hover);
}

.ghost:disabled:hover {
  background: transparent;
  background: var(--wds-color-bg-hover);
}

.link {
  border-width: 1px;
  border-color: transparent;
  color: var(--wds-btn-color-text-accent);
  box-shadow: none;
}

.link:hover {
  text-decoration: underline;
}

.loading {
  cursor: not-allowed;
  opacity: 0.8;
}

/**
 * ----------------------------------------------------------------------------
 * ICON ONLY
 *-----------------------------------------------------------------------------
 */
.base.icon-only {
  width: var(--size);
  height: var(--size);
  padding: 0;
}
