.control {
  cursor: pointer;
  display: grid;
  gap: 0px 10px;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  grid-template-columns: min-content auto;
  cursor: default;
  align-content: center;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
  cursor: var(--label-cursor);
  text-align: var(--label-text-align);
  font-size: var(--label-font-size);
  display: block;
  font-weight: var(--label-font-weight);
  user-select: none;
  color: var(--label-color);
  min-width: var(--label-min-width);
  font-style: var(--label-font-style);
}
