.control {
  cursor: pointer;
  display: flex;
  gap: 0px 10px;
  cursor: default;
  align-content: center;
  flex-direction: column;;
}

.control.horizontal {
  flex-direction: row;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
  cursor: var(--label-cursor);
  text-align: var(--label-text-align);
  font-size: var(--label-font-size);
  display: block;
  font-weight: var(--label-font-weight);
  user-select: none;
  color: var(--label-color);
  min-width: var(--label-min-width);
  font-style: var(--label-font-style);
}

/* hover interaction for checkbox when control is hovered */
.control:hover input[type="checkbox"]:not(:disabled):not(:checked) + span {
  border-color: var(--wds-color-border-hover);
}
