.control {
  cursor: pointer;
  display: grid;
  gap: 0px 10px;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  grid-template-columns: min-content auto;
  cursor: default;
  align-content: center;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
  cursor: var(--cursor);
  text-align: var(--text-align);
  font-size: var(--font-size);
  display: block;
  font-weight: var(--font-weight);
  user-select: none;
  color: var(--color);
  min-width: var(--min-width);
}
