/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
 .container {
  position: relative;
}

.input {
  border: 0px;
  inset: 0 0 0 0;
  height: 100%;
  width: 100%;
  padding: 0px;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
}

.icon {
  width: theme('spacing.4');
  height: theme('spacing.4');
  border-radius: theme("borderRadius.full");
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: var(--wds-color-border);
  color: transparent;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
  margin: 3px 0;
}

.input + .icon::after {
  content: "";
  display: block;
  width: theme('spacing.2');
  height: theme('spacing.2');
  border-radius: theme("borderRadius.full");
  background-color:currentColor;
  transition: all 0.2s ease;
  opacity: 0;
  transform: scale(0);
}

.container:hover .input:not(:disabled) + .icon {
  border-color: var(--wds-color-border-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED INCLUDING DISABLED
 *-----------------------------------------------------------------------------
 */
 .input:checked + .icon::after {
  opacity: 1;
  transform: scale(1);
 }

/**
 * ----------------------------------------------------------------------------
 * CHECKED - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled) + .icon {
  background-color: var(--wds-color-accent);
  border-color: var(--wds-color-accent);
  color: theme('colors.white');
}

.container:hover .input:checked:not(:disabled) + .icon {
  border-color: var(--wds-color-accent-hover);
  background-color: var(--wds-color-accent-hover);
  color: theme('colors.white');
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled {
  cursor: not-allowed;
}

.input:checked:disabled + .icon {
  background-color: var(--wds-color-icon-disabled);
  border-color: var(--wds-color-icon-disabled);
  color: var(--wds-color-icon-disabled-secondary);
}

/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */
.input:invalid + .icon {
  background-color: var(--wds-color-bg-danger-tertiary);
  border-color: var(--wds-color-bg-danger);
}

.container:hover .input:invalid + .icon {
  border-color: var(--wds-color-bg-danger-secondary);
}


