/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
.input {
  vertical-align: middle;
  width: theme('spacing.4');
  height: theme('spacing.4');
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px var(--wds-color-border);
  appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.input:not(:disabled):hover {
  box-shadow: inset 0 0 0 1px var(--wds-color-border-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED
 *-----------------------------------------------------------------------------
 */
.input:checked {
  box-shadow: inset 0 0 0 4px var(--wds-color-accent);
}

.input:checked:not(:disabled):hover {
  box-shadow: inset 0 0 0 4px var(--wds-color-accent);
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
 .input:disabled {
  cursor: not-allowed;
 }

 .input:checked:disabled {
  box-shadow: inset 0 0 0 1px var(--wds-color-border), inset 0 0 0 4px var(--wds-color-bg-disabled);
  background-color: var(--wds-color-bg-disabled-strong);
}

/**
 * ----------------------------------------------------------------------------
 * INVALID
 *-----------------------------------------------------------------------------
 */
.input:invalid {
  box-shadow: inset 0 0 0 1px var(--wds-color-border-danger);
}

.input:invalid:hover {
  box-shadow: inset 0 0 0 1px var(--wds-color-border-danger-hover);
}

