:root {
  --wds-color-border: theme('colors.trueGray.200');
  --wds-color-border-hover: theme('colors.trueGray.500');

  --wds-color-text-disabled: theme('colors.trueGray.200');
  --wds-color-text-disabled-secondary: theme('colors.trueGray.500');

  --wds-color-icon-disabled: theme('colors.trueGray.200');
  --wds-color-icon-disabled-secondary: theme('colors.trueGray.500');

  --wds-color-bg-danger: #f24822;
  --wds-color-bg-danger-hover: #dc3412;
  --wds-color-bg-danger-pressed: #dc3412;
  --wds-color-bg-danger-secondary: #bd2915;
  --wds-color-bg-danger-tertiary: #ffe2e0;

  --wds-color-icon-onaccent: #fff;
}
