:root {
  --wds-color-border: #E0DEDE;
  --wds-color-border-hover: #B3B3B3;
  --wds-color-border-focus: rgb(9, 105, 218);

  --wds-color-border-danger: #D91921;
  --wds-color-border-danger-hover: #B90707;

  --wds-color-border-disabled: #E0DEDE;

  --wds-color-bg: #fff;

  --wds-color-bg-strong: #E0DEDE;
  --wds-color-bg-strong-hover: #B3B3B3;

  --wds-color-bg-disabled: #F3F3F3;
  --wds-color-bg-disabled-strong: #A9A7A7;

  --wds-color-bg-danger: #D91921;
  --wds-color-bg-danger-hover: #B90707;


  --wds-color-text: rgba(0, 0, 0, .9);
  --wds-color-text-secondary: rgba(0, 0, 0, .5);
  --wds-color-text-tertiary: rgba(0, 0, 0, .3);


  --wds-color-icon: rgba(0, 0, 0, .9);
  --wds-color-icon-secondary: rgba(0, 0, 0, .5);
  --wds-color-icon-secondary-hover: rgba(0, 0, 0, .9);
}


@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
