/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
.input {
  --gutter: 2px;
  --knob-size: theme('spacing.3');

  width: theme('spacing.8');
  height: theme('spacing.4');
  padding: var(--gutter);
  border-radius: theme("borderRadius.full");
  color: white;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: flex-start;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
  margin: 3px 0;
  background-color: var(--wds-color-bg-strong);
  position: relative;
  appearance: none;
  cursor: pointer;
}

.input::after {
  content: "";
  height: var(--knob-size);
  width: var(--knob-size);
  transition: all 0.2s ease;
  position: absolute;
  left: var(--gutter);
  border-radius: theme("borderRadius.full");
  background-color: currentColor;
}

.input:not(:disabled):not(:checked):hover {
  background-color: var(--wds-color-bg-strong-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED  INCLUDING DISABLED
 *-----------------------------------------------------------------------------
 */
 .input:checked::after {
   left: calc(100% - var(--knob-size) - var(--gutter));
 }

/**
 * ----------------------------------------------------------------------------
 * CHECKED  AND INDETERMINATE - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled),
.input:indeterminate:not(:disabled) {
  background-color: var(--wds-color-accent);
  color: theme('colors.white');
}

.input:checked:not(:disabled):hover,
.input:indeterminate:not(:disabled):hover {
  background-color: var(--wds-color-accent-hover);
  color: theme('colors.white');
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled {
  cursor: not-allowed;
}

.input:checked:disabled,
.input:indeterminate:disabled,
.input:not(:checked):disabled {
  background-color: var(--wds-color-bg-disabled);
  color: var(--wds-color-bg-disabled-strong);
  box-shadow: 0px 0px 0px 1px var(--wds-color-border)
}


/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */

.input:invalid {
  background-color: var(--wds-color-bg-danger-tertiary);
}

