/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
.container {
  position: relative;

  --gutter: 2px;
  --knob-size: theme('spacing.3');
}

.input {
  border: 0px;
  inset: 0 0 0 0;
  height: 100%;
  width: 100%;
  padding: 0px;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
}

.button {
  width: theme('spacing.8');
  height: theme('spacing.4');
  padding: var(--gutter);
  border-radius: theme("borderRadius.full");
  color: white;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: flex-start;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
  margin: 3px 0;
  background-color: var(--wds-color-bg-strong);
  position: relative;
}

.knob {
  content: "";
  height: var(--knob-size);
  width: var(--knob-size);
  transition: all 0.2s ease;
  position: absolute;
  left: var(--gutter);
  border-radius: theme("borderRadius.full");
}

.container:hover .input:not(:disabled):not(:checked) + .button {
  background-color: var(--wds-color-bg-strong-hover);
}

.knob::after {
  position: absolute;
  inset: 0;
  background-color: currentColor;
  transition: all .2s ease-in-out;
  content: "";
  border-radius: theme("borderRadius.full");
}

.input:active + .button .knob::after {
  right: -30%;
  left: 0;
 }

/**
 * ----------------------------------------------------------------------------
 * CHECKED  INCLUDING DISABLED
 *-----------------------------------------------------------------------------
 */
 .input:checked + .button .knob {
   left: calc(100% - var(--knob-size) - var(--gutter));
 }

 .input:checked:active + .button .knob::after {
  right: 0;
  left: -30%;
 }

/**
 * ----------------------------------------------------------------------------
 * CHECKED  AND INDETERMINATE - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled) + .button,
.input:indeterminate:not(:disabled) + .button {
  background-color: var(--wds-color-accent);
  color: theme('colors.white');
}

.container:hover .input:checked:not(:disabled) + .button,
.container:hover .input:indeterminate:not(:disabled) + .button {
  background-color: var(--wds-color-accent-hover);
  color: theme('colors.white');
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled {
  cursor: not-allowed;
}

.input:checked:disabled + .button,
.input:indeterminate:disabled + .button,
.input:not(:checked):disabled + .button {
  background-color: var(--wds-color-bg-disabled);
  color: var(--wds-color-bg-disabled-strong);
  box-shadow: 0px 0px 0px 1px var(--wds-color-border)
}


/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */

.input:invalid + .button {
  background-color: var(--wds-color-bg-danger-tertiary);
}

