/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
.container {
  position: relative;

  --gutter: 2px;
  --knob-size: theme('spacing.3');
}

.input {
  border: 0px;
  inset: 0 0 0 0;
  height: 100%;
  width: 100%;
  padding: 0px;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
}

.icon {
  width: theme('spacing.8');
  height: theme('spacing.4');
  padding: var(--gutter);
  border-radius: theme("borderRadius.full");
  color: white;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: flex-start;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
  margin: 3px 0;
  background-color: var(--wds-color-bg-neutral-light);
}

.icon::after {
  content: "";
  height: var(--knob-size);
  width: var(--knob-size);
  background-color: currentColor;
  transition: all 0.2s ease;
  position: absolute;
  left: var(--gutter);
  border-radius: theme("borderRadius.full");
}

.container:hover .input:not(:disabled) + .icon {
  border-color: var(--wds-color-border-hover);
}

.container:hover .input:not(:disabled):not(:checked) + .icon {
  background-color: var(--wds-color-bg-neutral-light-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED  INCLUDING DISABLED
 *-----------------------------------------------------------------------------
 */
 .input:checked + .icon::after {
   left: calc(100% - var(--knob-size) - var(--gutter));
 }

/**
 * ----------------------------------------------------------------------------
 * CHECKED  AND INDETERMINATE - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled) + .icon,
.input:indeterminate:not(:disabled) + .icon {
  background-color: var(--wds-color-accent);
  color: theme('colors.white');
}

.container:hover .input:checked:not(:disabled) + .icon,
.container:hover .input:indeterminate:not(:disabled) + .icon {
  background-color: var(--wds-color-accent-hover);
  color: theme('colors.white');
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled {
  cursor: not-allowed;
}

.input:checked:disabled + .icon,
.input:indeterminate:disabled + .icon {
  background-color: var(--wds-color-icon-disabled);
  color: var(--wds-color-icon-disabled-secondary);
}

/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */

.input:invalid + .icon {
  background-color: var(--wds-color-bg-danger-tertiary);
}

