.overlay {
  background-color: var(--wds-color-bg);
  box-shadow: 0px 0px 0px 1px var(--wds-color-border);
  position: absolute;
  min-width: 192px;
  max-width: 640px;
  height: auto;
  width: auto;
  border-radius: var(--wds-radii);
  overflow: hidden;
  visibility: var(--visibility);
}

@media (forced-colors: active) {
  .overlay {
    outline: solid 1px transparent;
  }
}
