/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
.container {
  cursor: pointer;
  display: grid;
  gap: 0px 10px;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  grid-template-columns: min-content auto;
  cursor: default;
}

.input {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
}

.icon {
  width: theme('spacing.4');
  height: theme('spacing.4');
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: var(--wds-radii);
  border-color: var(--wds-color-border, #e1e1e1);
  color: theme('colors.white');
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
  margin: 3px 0;
}

.container:hover .input:not(:disabled) + .icon {
  border-color: var(--wds-color-border-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED  AND INDETERMINATE - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled) + .icon,
.input:indeterminate:not(:disabled) + .icon {
  background-color: var(--wds-color-accent);
  border-color: var(--wds-color-accent);
}

.container:hover .input:checked:not(:disabled) + .icon,
.container:hover .input:indeterminate:not(:disabled) + .icon {
  border-color: var(--wds-color-accent-hover);
  background-color: var(--wds-color-accent-hover);
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled + .icon {
  cursor: not-allowed;
}

.input:checked:disabled + .icon,
.input:indeterminate:disabled + .icon {
  background-color: var(--wds-color-disabled);
  border-color: var(--wds-color-disabled);
}

.input:checked:disabled + .icon path,
.input:indeterminate:disabled + .icon path {
 fill: var(--wds-color-disabled-secondary);
}

/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */

.input:invalid + .icon {
  background-color: var(--wds-color-bg-danger-tertiary);
  border-color: var(--wds-color-bg-danger);
}

.container:hover .input:invalid + .icon {
  border-color: var(--wds-color-bg-danger-secondary);
}


