/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */
.container {
  position: relative;
}

.input {
  border: 0px;
  inset: 0 0 0 0;
  height: 100%;
  width: 100%;
  padding: 0px;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
}

.label {
  align-self: baseline;
  grid-area: 1 / 2 / 2 / 3;
}

.icon {
  width: theme('spacing.4');
  height: theme('spacing.4');
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: var(--wds-radii);
  border-color: var(--wds-color-border, #e1e1e1);
  color: transparent;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
  margin: 3px 0;
}

.container:hover .input:not(:disabled) + .icon {
  border-color: var(--wds-color-border-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED  AND INDETERMINATE - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled) + .icon,
.input:indeterminate:not(:disabled) + .icon {
  background-color: var(--wds-color-accent);
  border-color: var(--wds-color-accent);
  color: theme('colors.white');
}

.container:hover .input:checked:not(:disabled) + .icon,
.container:hover .input:indeterminate:not(:disabled) + .icon {
  border-color: var(--wds-color-accent-hover);
  background-color: var(--wds-color-accent-hover);
  color: theme('colors.white');
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled {
  cursor: not-allowed;
}

.input:checked:disabled + .icon,
.input:indeterminate:disabled + .icon {
  background-color: var(--wds-color-bg-disabled);
  border-color: var(--wds-color-border-disabled);
  color: var(--wds-color-bg-disabled-strong);
}

/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */

.input:invalid + .icon {
  border-color: var(--wds-color-border-danger);
}

.container:hover .input:invalid + .icon {
  border-color: var(--wds-color-border-danger-hover);
}


