.unstyled {
  border: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  color: inherit;
  width: 100%;
}

.unstyled:focus {
  outline: none;
}


.base {
  --gutter: theme('spacing.2');
  --gap: theme('spacing.1');

  font-size: theme("fontSize.base");
  line-height: 20px;
  color: var(--wds-color-text);
  vertical-align: middle;
  background-color: white;;
  border: 1px solid #e1e1e1;
  border-radius: var(--wds-radii);
  outline: none;
  box-shadow: rgb(208 215 222 / 20%) 0px 1px 0px inset;
  display: inline-flex;
  align-items: stretch;
  min-height: 32px;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  gap: var(--gap);
}

.base input, .base textarea {
  cursor: text;
}

.base select {
  cursor: pointer;
}

.base::placeholder {
  color: var(--wds-color-text-tertiary);
}

.base:focus-within {
  border-color: var(--wds-color-border-focus);
  outline: none;
  box-shadow: inset 0 0 0 1px var(--wds-color-border-focus);
}

.base.with-leading-visual {
  padding-left: theme('spacing.2');
}

.base.with-leading-visual > input,
.base.with-leading-visual > select {
  padding-right: 0;
}

.base.with-trailing-visual {
  padding-right: var(--gutter);
}

.base.with-trailing-visual > input,
.base.with-trailing-visual > select {
  padding-left: 0;
}


.base .icon {
  align-self: center;
  flex-shrink: 0;
  color: var(--wds-color-icon-secondary);
}

.disabled {
  border-color: var(--wds-color-border-disabled);
  background-color: var(--wds-color-bg-disabled);
}

.disabled input, .disabled input {
  cursor: not-allowed;
}
